.products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.razorpay-logo-container {
  margin-bottom: 15px;
  text-align: center;
}

.razorpay-logo {
  width: 150px;
  height: auto;
}

.success-message {
  font-size: 1.2rem;
  color: green;
  font-weight: bold;
  margin-bottom: 15px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
